<script src="/js/vue.js"></script>

<div id="read-it-later">
	<ul>
		<li v-for="record in bookmarks">
			<div class="starred">
				<span v-if="record.starred">★</span>
			</div>
			<div class="content">
				<div class="title">
					<a :href="record.url">{{ record.title }}</a>
				</div>
				<div class="meta">{{ record.watched_time }}</div>
				<div v-if="record.note != null" class="meta">{{ record.note }}</div>
			</div>
		</li>
	</ul>
</div>



<script>
	var api_url = '/read-it-later/api/get'
	
	var app = new Vue({

	  el: '#read-it-later',

	  data: {
	    bookmarks: null
	  },

	  created: function () {
	    this.fetchData()
	  },
	  
	  // watch: {
	  //   bookmarks: 'fetchData'
	  // },

	  methods: {
	    fetchData: function () {
	      var xhr = new XMLHttpRequest()
	      var self = this
	      xhr.open('GET', api_url)
	      xhr.onload = function () {
	        self.bookmarks = JSON.parse(xhr.responseText)
	        console.log('got it.')
	      }
	      xhr.send()
	    }
	  }
	})
</script>


	
<style>
	body {
	    color: #34495e;
		font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	    font-size: 100%;
	    background-color: #f2f3f5;
	}
	
	#read-it-later {
	    margin: 30px auto;
	    width: 100%;
		max-width: 800px;
		background-color: #fff;
	    border-radius: 2px;
	}
	
	#read-it-later ul {
	    list-style-type: none;
	    padding: 0;
	    margin: 0;
	}
	
	#read-it-later li {
	    background-color: #fff;
	    border-bottom: 1px solid #eee;
	    position: relative;
	    line-height: 20px;
		
		display: flex;
		flex-direction: row;
	}
	
	#read-it-later .starred {
	    color: #f60;
	    font-size: 2rem;
	    font-weight: 700;
	    min-width: 100px;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#read-it-later .content {
		padding: 20px 40px 20px 0px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	#read-it-later .meta {
	    font-size: .85rem;
	    color: #828282;
	}
	
	#read-it-later li a {
		color: #34495e;
		text-decoration: none;
	}
	
	@media screen and (max-device-width: 700px) { /* iPhone 5s: 1136 * 640 px */
		#read-it-later {
			font-size: 300%;
		}
		
		#read-it-later li {
			line-height: 60px;
			border-bottom: 3px solid #eee;
		}
		
		#read-it-later .starred {
		    font-size: 200%;
			min-width: 200px;
		}
		
		#read-it-later .content {
			padding: 40px 40px 40px 0px;
		}
		
		#read-it-later .content .meta{
			font-size: 80%;
		}
	}
</style>